.cart {
  background: #000;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
}

.cart img {
  height: 100px;
}

.cart li {
  border-bottom: 1px solid #444;
  justify-content: center;
  margin: auto;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart-button {
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 8px;
  transition: all 0.3s ease;
  width: 80px;
  background-color: rgba(99, 115, 187, 0.781);
  z-index: 9999;
  color: white;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.986);
}

.notCart {
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 40px;
}

.cart ul {
  list-style: none;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.add {
  height: 20px;
  margin-right: 5px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: none;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}

.remove {
  height: 20px;
  justify-content: center;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: none;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}

.AddIcon {
  align-items: center;
}

.RemoveIcon {
  align-items: center;
  text-align: center;
}

.total {
  background-color: rgba(99, 115, 187, 0.781);
  border-radius: 20px;
  margin-bottom: 200px;
}

small {
  font-size: 15px;
}
