.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}

.filters > div {
  display: flex;
  gap: 1rem;
}

.filters select {
  border: none;
  border-radius: 20px;
  width: 120px;
  outline: none;
  background-color: rgba(99, 115, 187, 0.781);
}
